{% extends 'base.html' %}

{% block title %}
<title>The BroadCast - Contact Us</title>
{% endblock %}


{% block content %}
	<div class="content">
		<h1>Contact Us</h1>
		<div class="footer">
			<br>
			<div>
				<h2>FOLLOW US ON</h2>
				<a href="facebook.com" class="fa fa-facebook"></a>
				<a href="linkedin.com" class="fa fa-linkedin"></a>
				<a href="instagram.com" class="fa fa-instagram"></a>
			</div>
			<div class="footer-links">
				<h2>CONNECT WITH US</h2>
				<span class="fa fa-phone"></span><a href="tel:0000000000">+91 00000 00000</a>
				<br>
				<span class="fa fa-envelope"></span><a href="mailto:admin@newsapp.com">admin@newsapp.com</a>
			</div>
		</div>
	</div>
{% endblock %}
