{% extends 'base.html' %}

{% block title %}
<title>The BroadCast - Home</title>
{% endblock %}


{% block content %}
	<div class="content">
		<h1>The BroadCast </h1>
		<br>
		<h3>a global news platform</h3>
		<h5>launched on 19th June 2020</h5>
		
		<p>
			We’re in the business of providing you with the latest and accurate news. We work every day to apply and share our know-how in ways that benefit people, the community, and our planet in order to build a better tomorrow.
		</p>
	</div>
{% endblock %}